@use "styles/Helpers/" as *;

.mobileLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $spacing30;
  align-items: flex-start;
}

.mobileNav {
  display: flex;
  flex-direction: column;
  gap: $spacing10;
}

