@use "../../../styles/Basics/" as *;
@use "../../../styles/Helpers" as *;

.buttonText {
  @include link();
  @include H05M();
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: $spacing10;
}

.buttonIcon {
  transform: rotate(0deg);
}

.buttonIconRotate {
  transition: transform 0.5s ease-in-out 0s;
  transform: rotate(360deg);
}
