@use "styles/Helpers" as *;

.detailSectionLayout {
  width: 100%;
  position: relative;
  margin-top: $spacing180;
  @include sm {
    display: flex;
    flex-direction: column;
    margin-top: $spacing60;
  }
}

.detailSectionMessage {
  padding: 0 0 $spacing20 $spacing120;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: $spacing24;
  max-width: 40%;
  text-align: left;
  position: absolute;
  z-index: 4;
  @include sm {
    position: inherit;
    max-width: 100%;
  }
  @include lg {
    padding: 0;
  }
}

.detailTitle {
  white-space: nowrap;
  @include sm {
    padding-top: $spacing60;
  }
}

.detailImg {
  width: 65%;
  float: right;
  padding-top: $spacing80;
  background-color: transparent;
  min-height: 100px;
  @include sm {
    align-self: flex-end;
    padding-top: 0;
  }
}
