@use "styles/Helpers/" as *;

.navBarLayout {
  width: 100%;
  min-height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarLinksContainer {
  display: flex;
  align-items: center;
  padding: 0 $spacing16 0 $spacing16;
  gap: $spacing16;
}

.navBarIcon {
  width: 24px;
  height: 20px;
  vertical-align: middle;
}

.navBarLinksWrapper {
  display: flex;
  align-items: center;
  gap: $spacing16;

  @include sm {
    display: none;
  }
}
