// //padding
// $btn-padding-lg: 13px 23px 14px 23px;
// $btn-padding-sm: 11px 23px 12px 23px;

// //border
// $btn-border-primary-default: 1px solid $blue500;

// //border-radius
// $btn-radius-primary: 2px;

// //bg-color
// $btn-bg-default: transparent;
// $btn-bg-hover: $blue500;
// $btn-bg-active: $blue500;
// $btn-bg-disabled: $grey100;

// //color
// $btn-color-hover: $grey100;
// $btn-color-active: $grey100;
// $btn-color-disabled: $dark-grey200;

// //primary
// @mixin btn() {
//   box-sizing: border-box;
//   text-decoration: none;
//   cursor: pointer;
//   display: block;
//   width: fit-content;
//   border: $btn-border-primary-default;
//   border-radius: $btn-radius-primary;
//   background-color: $btn-bg-default;

//   &:hover{
//   background-color: $btn-bg-hover;
//   color: $btn-color-hover;
//   transition: background-size 0.25s ease-in;
//   }
//   &:active{
//   background-color: $btn-bg-hover;
//   color: $btn-color-hover;
//   transition: background-size 0.25s ease-in;
//   }
//   &:disabled{
//   background-color: $btn-bg-disabled;
//   color: $btn-color-disabled;
//   transition: background-size 0.25s ease-in;
//   }
// }


// .btn-primary-sm-default {
//   @include btn();
//   @include body-text-sm();
//   padding: $btn-padding-sm;
// }

// .btn-primary-lg-default {
//   @include btn();
//   @include body-text();
//   padding: $btn-padding-lg;


//  @include sm {
//   padding: $btn-padding-sm;
//   font-size: $font-size14;
//  }
// }


