@use "../Helpers" as *;
@use "./typography.scss" as *;

@mixin link {
  text-decoration: none;
  display: inline-block;
  width: fit-content;

  &:hover {
    color: $primaryOrange;
  }
}
.link30 {
  @include link();
  @include H05M();
}
