@use "../Helpers" as *;

@mixin text {
  letter-spacing: 0;
  font-weight: $fontWeights400;
  font-size: $fontSize18;
}

body {
  color: $darkGrey500;
  font-family: "Heebo", sans-serif !important;
  @include text();
}

//Header
@mixin header {
  font-weight: $fontWeights500;
  letter-spacing: $fontLs4;
  &Bold {
    font-weight: $fontWeights700;
  }
}

.H01 {
  font-weight: $fontWeights400;
  letter-spacing: $fontLs2M;
  font-size: $fontSize80;

  @include sm {
    font-size: $fontSize36;
  }
}

@mixin H02 {
  @include header();
  font-size: $fontSize64;

  @include md {
    font-size: $fontSize48;
  }
  @include sm {
    font-size: $fontSize36;
  }
}

@mixin H03 {
  @include header();
  font-size: $fontSize48;

  @include sm {
    font-size: $fontSize30;
  }
}

.H04 {
  @include header();
  font-size: $fontSize36;

  @include sm {
    font-size: $fontSize24;
  }
}

@mixin H05M {
  @include header();
  font-size: $fontSize30;
  letter-spacing: $fontLs2;

  @include sm {
    font-size: $fontSize18;
  }
}

.H05 {
  @include H05M();
}

.H06 {
  font-weight: $fontWeights400;
  font-size: $fontSize24;
  letter-spacing: $fontLs4;
  color: $darkGrey500;

  @include sm {
    font-size: $fontSize16;
  }
}


// .H07 {
//   font-weight: $font-weights400;
//   font-size: $font-size18;

//   &--bold {
//     @extend .H07;
//     font-weight: $font-weights700;
//   }
// }

// .H08 {
//   font-weight: $font-weights400;
//   font-size: $font-size14;
// }



// @mixin body-text-sm {
//   @include text();
//   font-size: $font-size14;
// }

// @mixin body-text-xs {
//   @include text();
//   font-size: $font-size12;
// }

// .body-text {
//   @include body-text();
// }

// .body-text-sm {
//   @include body-text-sm();

//   &--bold {
//     @include body-text-sm();
//     font-weight: $font-weights700;
//   }
// }

// .body-text-xs {
//   @include body-text-xs();
// }
