@use "styles/Helpers" as *;

.layout {
  height: 100svh;
  display: flex;
  width: 100%;
  @include md {
    height: auto;
  }
  @include sm {
    height: auto;
  }
}

.introText {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  gap: 12px;
}

.introImg {
  max-height: 70%;

  @include md {
    max-width: 100%;
    max-height: auto;
  }
}
