@use "styles/Helpers" as *;

.introText {
  max-width: 760px;
  text-align: center;
}

.introImg {
  width: 100%;
  padding: 0 $spacing120;
  max-height: 80vh;
  background-color: transparent;
  min-height: 200px;
  margin-top: $spacing180;

  @include md {
    max-width: 100%;
    padding: 0;
    margin-top: $spacing60;
  }
}
