@use "styles/Helpers/" as *;

.FooterLayout {
  width: 100%;
  border-top: 1px solid $grey200;
  padding: $spacing30 $spacing24;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include sm {
    padding: $spacing30 $spacing10;
  }
}

.FooterContainer {
  display: flex;
  gap: $spacing24;
  align-items: center;
  @include sm {
    gap: $spacing16;
  }
}

.FooterIcon {
  font-size: $fontSize30;
  vertical-align: middle;
  @include sm {
    font-size: $fontSize16;
  }

  &Facebook {
    @extend .FooterIcon;
    font-size: $fontSize36;
    @include sm {
      font-size: 20px;
    }
  }
}
