@use "styles/Helpers/" as *;

// @mixin btn {
//   font-weight: $fontWeights500;
//   text-decoration: none;
//   cursor: pointer;
//   background-color: transparent;
//   border: none;
//   font-size: $fontSize18;
  

//   &:hover,
//   &:active &:not([disabled]) {
//     color: $primaryOrange;
//   }
//   &:disabled {
//     color: $darkGrey200;
//   }
//   &:focus {
//     outline: $darkGrey200;
//   }
//   &:global.active {
//     font-weight: $fontWeights700;
//   }
// }

.btn,
.text,
.textLight, 
.rect,
.arrow {
  font-weight: $fontWeights500;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: $fontSize18;
  

  &:hover,
  &:active &:not([disabled]) {
    color: $primaryOrange;
  }
  &:disabled {
    color: $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
  &:global.active {
    font-weight: $fontWeights700;
  }
}

.text {
  background-color: transparent;
  letter-spacing: 0;
  border: none;
  text-align: center;
}

.textLight {
  font-weight: $fontWeights400;
}

.rect,
.rectDark {
  border: 1px solid $darkGrey500;
  border-radius: 0;
  background-color: transparent;
  padding: $spacing10 $spacing16;
  letter-spacing: $fontLs2;
  text-align: center;

  &Negative {
    @extend .rect;
    color: $darkGrey200;
    border: 1px solid transparent;
  }

  &:hover,
  &:active {
    &:not([disabled]) {
      background-color: $darkGrey500;
      color: $white100;
    }
  }
  &:disabled {
    color: $darkGrey200;
    border: 1px solid $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
}

.rectDark {
  background-color: $darkGrey500;
  color: $white100;
  &:hover {
    background-color: $white100;
    color: $darkGrey500;
  }
}

.arrow {
  transform: rotate(0deg);
  margin-right: $spacing10;
  vertical-align: middle;
  font-size: $spacing30;

  &Rotate {
    @extend .arrow;
    transition: transform 0.5s ease-in-out 0s;
    transform: rotate(360deg);
  }
}

.mobileMenu {
  @include sm {
    font-size: $fontSize36;
    font-weight: 400;
  }
}

.mobileVis {
  @include sm {
    display: none;
  }
}

.fullWidth {
  display: flex;
  flex: 1;
  justify-content: center;
}

.noWrap {
  white-space: nowrap;
}

.upperCase {
  text-transform: uppercase;
}