@use "styles/Helpers" as *;

.selectedLayout {
  display: flex;
  flex-direction: column;
  gap: $spacing180;
  @include md {
    gap: $spacing120;
  }
  @include sm {
    gap:  $spacing60;
  }
}

.selectedMainText {
  padding: $spacing120 0 $spacing60 0;
  align-self: flex-start;

  @include sm {
    padding: $spacing80 0 $spacing40 0;
  }
}

.selectedButton {
  padding-left: $spacing120;
  @include lg {
    padding: 0;
  }
}
