@use "styles/Helpers" as *;

.selectedLayout {
  display: flex;
  flex-direction: column;
  gap: $spacing180;
  @include md {
    gap: $spacing120;
  }
}

.selectedMainText {
  padding-bottom: $spacing120;
  align-self: flex-start;

  @include md {
    padding: $spacing120 0;
  }
}

.selectedButton {
  display: flex;
  justify-content: flex-end;
  padding-top: $spacing120;
  @include lg {
    padding-top: $spacing40;
  }
}
