@use "styles/Helpers" as *;

.selectedLayout {
  display: flex;
  flex-direction: column;
  gap: $spacing180;
  @include md {
    gap: $spacing120;
  }
}

.selectedMainText {
  padding: $spacing180 0;
  align-self: flex-start;

  @include sm {
    padding: $spacing120 0;
  }
}

.selectedButton {
  padding-left: $spacing120;
  @include lg {
    padding: 0;
  }
}
