@use "../../../styles/Helpers" as *;

.MainSliderLayout {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.MainSliderCard {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.progressBar {
  width: 70%;
  left:15%;
  height: 25px;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
}

.progressBarBtn {
 height: 3px;
 width: 100%;
 gap: 5px;
 background-color: $grey100;
}

