@use "../../styles/Basics" as *;
@use "../../styles/Helpers/" as *;

.navBarWrapper {
  display: flex;
  flex-direction: column;
  width: 540px;
  margin: 34px;
  position: absolute;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 80px 1px;
  border-radius: 2px;
  box-sizing: border-box;

  @include sm {
    width: calc(100% - 48px);
    margin: 24px;
  }
}

.navBarLayout {
  width: 100%;
  min-height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarLinksContainer {
  display: flex;
  align-items: center;
  padding: 0 16px 0 8px;
}

.navBarLinksWrapperDesktop {
  display: flex;
  align-items: center;

  @include sm {
    display: none;
  }
}

.linkNav {
  @include link();
  padding: 8px;

  &ToggleMenu {
    @extend .linkNav;
    padding: 0 8px;
    @include sm {
      @include H03();
    }

    &Active {
      @extend .linkNavToggleMenu;
      font-weight: $fontWeights700;
    }
  }
}

.navBarIcon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@mixin navBarToggleLayout {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
}