@use "styles/Helpers/" as *;

.mobileLayout {
  display: flex;
  flex-direction: column;
  padding-top: $spacing30;
  padding: $spacing30 0 $spacing40 0;
  align-items: flex-start;
  gap: $spacing24;
}