@use "../../../styles/Helpers" as *;

.MainSliderLayout {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $grey100;
}

.MainSliderCard {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

.progressBar {
  width: 70%;
  left: 15%;
  height: 25px;
  background-color: transparent;
  z-index: 3;
  position: absolute;
  bottom: 25px;
  display: flex;
  align-items: center;
}

.progressBarBtn {
  height: 3px;
  width: 100%;
  gap: 5px;
  background-color: $grey100;

  &Active {
    @extend .progressBarBtn;
    background-color: $darkGrey500;
  }
}

.MainSliderOverlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  z-index: 2;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
