@use "styles/Helpers" as *;

@mixin layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: $spacing60;
  background-color: lightpink;
  @include md {
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }
}

.layout {
  @include layout();
}

.reverse {
  &:nth-of-type(even) {
    @include layout();
    flex-direction: row-reverse;
  }
}