@use "styles/Helpers" as *;

.reverse {
  &:nth-of-type(even) {
    flex-direction: row-reverse;

    @include md {
      flex-direction: column;
    }
  }
}

.mobileReverse {
  @include md {
    flex-direction: column;
    flex-direction: column-reverse;
  }
}

.wrapper {
  width: 50%;
  height: 80%;
  display: flex;
  align-items: center;

  @include md {
    width: 100%;
    height: 100%;
  }
}
