@use "styles/Helpers/" as *;

.layout {
  display: flex;
  flex-direction: column;
  width: 566px;
  min-width: 240px;
  margin: 48px;
  position: fixed;
  z-index: 4;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 80px 1px;
  border-radius: 2px;
  box-sizing: border-box;

  @include sm {
    width: calc(100% - 64px);
    margin: $spacing16;
  }
}

@mixin navBarToggleLayout {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 8px;
  padding-bottom: $spacing24;
}
