@use "styles/Helpers" as *;

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  padding: 0 $spacing60 $spacing120 $spacing60;


  @include md {
    padding-top: $spacing120;
  }
  @include sm {
    padding: $spacing60 $spacing24 $spacing60 $spacing24;
  }
}

.g180 {
  gap: $spacing180;
  @include md {
    gap: $spacing120;
  }
  @include sm {
    gap: $spacing60;
  }
}

.g120 {
  gap: $spacing120;
  @include md {
    gap: $spacing80;
  }
  @include sm {
    gap: $spacing40;
  }
}

.g60 {
  gap: $spacing60;
  @include sm {
    gap: $spacing30;
  }
}
