$white100: #FFFFFF;
$lightGrey100: #F9F9F9;
$grey100: #E5E5E7;
$darkGrey200: #A0A0A1;
// $darkGrey300: #7C7C7C;
// $darkGrey400: #575758;
$darkGrey500: #323233;

$primaryOrange: #c5501e;

$validated: #42CE40;
$error: #DA4040;
