$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize24: 24px;
$fontSize30: 30px;
$fontSize36: 36px;
$fontSize48: 48px;
$fontSize64: 64px;
$fontSize80: 80px;

$fontWeights400: 400;
$fontWeights500: 500;
$fontWeights700: 700;

$fontLs2: 0.02em;
$fontLs2M: -0.02em;
$fontLs4: -0.04em;
