$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
// $font-size18: 18px;
$fontSize24: 24px;
// $font-size30: 30px;
// $font-size36: 36px;
// $font-size48: 48px;
// $font-Size56: 56px;

$fontWeights400: 400;
$fontWeights500: 500;
// $fontWeights600: 600;
// $fontWeights700: 700;

// $fontLS2: 0.04em;
// $font-ls2: 0.02em;
// $font-ls-25: -0.02em;
$fontLs4: -0.04em;


