$spacing10: 10px;
$spacing16: 16px;
$spacing20: 20px;
$spacing24: 24px;
$spacing30: 30px;
$spacing40: 40px;
$spacing60: 60px;
$spacing80: 80px;
$spacing120: 120px;
$spacing150: 150px;
$spacing180: 180px;