@use "styles/Helpers/" as *;

@mixin btn {
  font-weight: $fontWeights500;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-family: "Heebo", sans-serif;
  font-size: $fontSize18;

  &:hover,
  &:active &:not([disabled]) {
    color: $primaryOrange;
  }
  &:disabled {
    color: $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
  &:global.active {
    font-weight: $fontWeights700;
  }
}

.btn {
  @include btn();
}

//Variant
.text {
  @include btn();
  background-color: transparent;
  letter-spacing: 0;
  border: none;
  text-align: center;
}

.textLight {
  @include btn();
  font-weight: $fontWeights400;
}

@mixin rect {
  @include btn();
  border: 1px solid $darkGrey500;
  border-radius: 0;
  background-color: transparent;
  padding: $spacing10 $spacing16;
  letter-spacing: $fontLs2;
  text-transform: uppercase;
  text-align: center;
}

.rect {
  @include rect();

  &Regular {
    @extend .rect;
    text-transform: none;
  }
  &Negative {
    @extend .rect;
    text-transform: none;
    color: $darkGrey200;
    border: 1px solid transparent;
  }

  &:hover,
  &:active {
    &:not([disabled]) {
      background-color: $darkGrey500;
      color: $white100;
    }
  }
  &:disabled {
    color: $darkGrey200;
    border: 1px solid $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
}

.rectDark {
  @include rect();
  background-color: $darkGrey500;
  color: $white100;
  &:hover {
    background-color: $white100;
    color: $darkGrey500;
  }
}

.arrow {
  @include btn;
  transform: rotate(0deg);
  margin-right: $spacing10;
  vertical-align: middle;
  font-size: $spacing30;

  &Rotate {
    @extend .arrow;
    transition: transform 0.5s ease-in-out 0s;
    transform: rotate(360deg);
  }
}

.mobileMenu {
  @include sm {
    font-size: $fontSize36;
    font-weight: 400;
  }
}

.mobileVis {
  @include sm {
    display: none;
  }
}

.fullWidth {
  display: flex;
  flex: 1;
  justify-content: center;
}

.noWrap {
  white-space: nowrap;
}
