@use "../../../../styles//Basics/" as *;
@use "../../../../styles//Helpers/" as *;

@mixin btn {
  font-family: "Heebo", sans-serif;
  font-weight: $fontWeights500;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
  padding: 8px;
  font-size: $fontSize18;
  background-color: transparent;
  border: none;

  &:hover,
  &:active
  &:not([disabled]) {
    color: $primaryOrange;
  }
   
  &:disabled {
    color: $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
}

.btn { 
  @include btn();
}

//Variant
.Text {
  @include btn();
  background-color: transparent;
  color: $darkGrey500;
  letter-spacing: 0;
  border: none;
}

.Rect {
  @include btn();
  border: 1px solid $darkGrey500;
  border-radius: 0;
  background-color: transparent;
  padding: $spacing10 $spacing16;
  letter-spacing: $fontLs2;
  text-transform: uppercase;

  &Regular {
    @extend .Rect;
    text-transform: none;
  }
  &Negative {
    @extend .Rect;
    text-transform: none;
    color: $darkGrey200;
    border: 1px solid transparent;
  }

  &:hover,
  &:active {
    &:not([disabled]) {
      background-color: $darkGrey500;
      color: $white100;
    }
  }
  &:disabled {
    color: $darkGrey200;
    border: 1px solid $darkGrey200;
  }
  &:focus {
    outline: $darkGrey200;
  }
}

//size
.S {
  font-size: $fontSize14;
}

.M {
  font-size: $fontSize18;
}

.L {
  font-size: $fontSize30;
}
