.btnSliderWrapper {
  border: none;
  background-color: transparent;
  width: 30%;
  height: 100vh;
  position: absolute;
  cursor: pointer;

  &.right {
    right: 0;
  }

  &.left {
    left: 0;
  }
}

.btnSliderIcon {
  color: white;
  font-size: 50px;
  stroke-width: 0.1%;
  top: 50%;

  position: absolute;

  &.right {
    right: 34px;
    margin-left: auto;
  }

  &.left {
    transform: rotate(180deg);
    left: 34px;
  }
}
