@use "styles/Helpers/" as *;

.burgerWrapper {
  display: none;

  @include sm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: all 0.25s;
    margin-left: auto;

    &:focus {
      outline: $darkGrey200;
    }

    &Active {
      .burgerContent {
        transform: translate(3px);
      }
      .line {
        background: $darkGrey500;
      }
      .top {
        transform: rotate(45deg) translate(0.5px, 0);
        transition: 0.25s ease-in-out;
      }
      .middle {
        transform: scaleY(0);
        transition: 0.25s ease-in-out;
      }
      .bottom {
        transform: rotate(-45deg) translate(0.5px, 0);
        transition: 0.25s ease-in-out;
      }
    }
  }
}

.burgerWrapperActive {
  display: none;
  @include md {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: auto;
  }
}

.burgerContent {
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  div {
    width: 16px;
    height: 1.2px;
    border-radius: 10px;
    position: relative;
    background-color: $darkGrey500;
    transform-origin: 1.2px;

    .top {
      transform-origin: 0% 0%;
      transition: transform 0.5s ease-in-out;
      transition: all 1s;
    }
    .middle {
      transition: transform 0.2s ease-in-out;
    }
    .bottom {
      transform-origin: 0% 100%;
      transition: transform 0.5s ease-in-out;
    }
  }
}
